.header {
  background: var(--header-bg) !important; 
  color: var(--header-text);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header .left-section {
  width: 208px;
}

.logo-text{
  color: var(--logo-text); 
  font-weight:700; 
  font-size:200px;
}

.header .logo {
  height: 180px;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}

@media (max-width: 800px) {
  .header .left-section {
    width: unset;
  }
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header .header-link:hover {
  border: 1px solid white;
}

@media (max-width: 675px) {
  .header .logo {
    display: none;
  }

  .header .mobile-logo {
    display: block;
    height: 26px;
    margin-top: 1px;
  }
}

.header .middle-section {
  flex: 1;
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header .search-bar {
  box-sizing: border-box;
  background: var(--search-bg);
  color: var(--search-text);
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa0410;;
  border: none;
  width: 45px;
  height: 40px;
  padding: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
  line-height:1;
}

.header .search-icon {
  display: block;            
  height: 18px;                 
  width: auto;
  margin: 0;
}

.product-rating-count { 
  color: var(--rating-color) !important; 
}


.product-price { 
  color: var(--price-color) !important; 
  font-weight:700; 
}

.add-to-cart-button, .button-primary {
  background: var(--button-bg) !important;
  color: var(--button-text) !important;
  border: none !important;
  box-shadow: none !important;
}

.products-grid, .product-container, .product-card {
  border: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: 0 8px 26px rgba(0,0,0,0.5);
}

.products-grid > * { 
  border-left: none !important; 
  border-right: none !important; 
}

.product-container { 
  background: var(--card-bg); 
}

.header .right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .orders-link {
  color: white;

  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}

.header .orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.header .cart-icon {
  width: 38px;
}

.header .cart-text {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-quantity {
  color: rgb(8, 79, 45);
  font-size: 14px;
  font-weight: 700;

  position: absolute;
  top: 8.5px;
  right: 46px;

  width: 26px;
  text-align: center;
}